* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    color: #000;
    background: #fff;
    margin: 0;
}

#container {
    margin-top: 0;
    margin-bottom: 2em;
    margin-right: auto;
    margin-left: auto;
    width: 740px;
    padding-top: 0.5em;
    padding-bottom: 2em;
    padding-left: 4em;
    padding-right: 4em;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.8em;
    margin: 0;
	padding-bottom: 1em;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3em;
}

p, li {
    font-size: 16px;
    line-height: 160%;
    letter-spacing: .25px;
}

p.credit {
	font-size: 0.9em;
}

img {
	display: block;
	margin: auto;
	max-width: 100%;
}

/* links */

a {
    color: #277fab;
    text-decoration: none;
}

a:hover {
    color: #407189;
    text-decoration: underline;
}

.header {
    overflow: hidden;
    padding: 20px 10px;
}

.header::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 13.5%;
    opacity: 0.04;
    background-image: url('images/atoms.jpeg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #8c8c8c;
    pointer-events: none;
}

.header .logo {
    float: left;
}

.homelink {
    padding: 0 !important;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding-top: 40px;
  padding-right: 12px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  border-radius: 4px;
}

.header a div {
    padding: 5px;
    border-radius: 4px;
}

.header a div:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

#content {
    padding-top: 5px;
    padding-bottom: 5px;
}

p.copyright {
    width: 100%;
    color: #777777;
    line-height: 40px;
    font-size: 0.7em;
    font-family: arial;
    text-align: center;
    bottom: 100px;
}

.termslink {
  	color: #3377c0 !important;
  	text-decoration: none;
}

.post-meta {
    font-size: 14px;
    color: #828282;
}

.post-link {
    margin-top: 10px;
    font-size: 24px;
}

.mediaicons {
    display: flex;
    justify-content: center;
}

.backbutton {
    float: left !important;
}

.post-notes {
    font-size: 13px;
    color: #b1a7a7;
}

.notestext {
    padding-left: 30px;
}

.notestext li {
    font-size: 15px;
    margin-bottom: 10px;
}

.emph {
    font-weight: bold;
    font-style: italic;
}

figcaption {
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    align-self: auto;
    font-size: 14px;
    line-height: 150%;
    color: #828892;
}

@media (max-width: 800px) {
    .header {
        width: 100%;
    }
    #container {
        margin: 0;
        width: 100%;
        padding: 2em;
    }
    #disclaimercontent {
        width: 100%;
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media (max-width: 400px) {
    .header::before {
        height: 18%;
    }

    .header-items {
        position: absolute;
        padding-top: 25px;
        padding-left: 95px;
    }
}
